@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  font-size: 18px;
  font-family: "Rubik", sans-serif; }

body {
  margin: 0 auto; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0; }

ul {
  list-style: none;
  padding: unset;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    color: #fa5757; }

h1, h2, h6 {
  font-weight: 500; }

h1 {
  line-height: 2rem; }

h4 {
  font-weight: 400;
  font-size: .85rem; }

h6 {
  letter-spacing: 0.22222rem; }

p {
  color: #9194a1;
  line-height: 1.55556rem;
  font-size: .85rem; }

input {
  border: none;
  border-radius: 0.55556rem;
  padding: 1rem; }

::placeholder {
  color: #9194a1;
  font-size: 0.88889rem; }

.hero__info {
  width: max(20rem, 33vw); }
  .hero__info > * {
    text-align: center; }
  @media (min-width: 762px) {
    .hero__info > * {
      text-align: left; } }

.hero__paragraph {
  width: max(16rem, 33vw);
  margin: 0 auto 2rem auto; }

@media (min-width: 762px) {
  .hero__paragraph {
    margin-left: unset; } }

@media (min-width: 761px) {
  .hero__heading {
    font-size: 2rem; } }

.features__heading, .features__paragraph {
  width: max(17rem, 32vw);
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.selection__info {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: max(18rem, 26vw); }
  .selection__info > * {
    text-align: center; }
  @media (min-width: 741px) {
    .selection__info > * {
      text-align: left; } }

@media (min-width: 950px) {
  .selection__info {
    margin-left: unset;
    margin-right: max(6.88889rem, 15vw); } }

.download__heading, .download__paragraph {
  text-align: center; }

.download__paragraph {
  max-width: 27.77778rem;
  margin-left: auto;
  margin-right: auto; }

.browser__heading, .browser__paragraph {
  margin: 0; }

.browser__paragraph {
  margin-top: 0.5rem; }

.questions__heading, .questions__paragraph {
  text-align: center; }

.questions__paragraph {
  margin-bottom: 4.44444rem; }

@media (min-width: 1096px) {
  __paragraph {
    margin-bottom: 3.44444rem; } }

.question__answer {
  display: none; }

aside {
  text-align: center; }

.CTA__heading--primary {
  display: block;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.btn {
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.11111rem;
  padding: 0.83333rem;
  border-radius: 0.27778rem; }
  .btn:hover {
    background-color: white;
    outline: 0.11111rem solid; }
  .btn--red {
    background-color: #fa5757; }
    .btn--red:hover {
      border-color: #fa5757;
      color: #fa5757; }
  .btn--blue {
    background-color: #5368df; }
    .btn--blue:hover {
      border-color: #5368df;
      color: #5368df; }
  .btn--grey {
    background-color: #9194a1; }
    .btn--grey:hover {
      border-color: #9194a1;
      color: #9194a1; }

.nav__btn {
  padding-left: 1.83333rem;
  padding-right: 1.83333rem; }

.illustration__background {
  height: max(11.16667rem, 23.75vw);
  width: 100%;
  background-color: #5368df; }

.illustration--hero {
  margin-left: auto; }

.illustration--hero > .illustration__background {
  border-top-left-radius: 22.22222rem;
  border-bottom-left-radius: 22.22222rem;
  margin-left: auto; }

.illustration--hero > .illustration__img {
  aspect-ratio: 580/386;
  width: max(17.22222rem, 40vw);
  margin-left: auto; }

.illustration--selection {
  margin-right: auto; }

.illustration--selection > .illustration__background {
  border-top-right-radius: 22.22222rem;
  border-bottom-right-radius: 22.22222rem; }

.illustration--selection > .illustration__img {
  aspect-ratio: 379/245;
  width: max(17.22222rem, 37vw); }

.line-break--dotted {
  background-image: linear-gradient(to right, #9194a1 10%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 1.11111rem 0.11111rem;
  background-repeat: repeat-x;
  padding: 0.11111rem;
  height: 0; }

.tabs__line-break {
  width: 100%;
  margin: 0; }

@media (min-width: 953px) {
  .tabs__line-break:not(.line-break--tab-end) {
    display: none; } }

.nav__anchor {
  font-size: 0.75rem;
  color: black; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.nav__link {
  display: flex;
  align-items: center; }

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly; }
  .hero__btns {
    display: flex;
    gap: 1rem; }

.selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem; }

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.browsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.77778rem; }

.browser {
  display: flex;
  flex-direction: column;
  align-items: center; }

.CTA__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; }

.illustration {
  display: grid; }
  .illustration--hero {
    grid-template-columns: auto max(15.27778rem, 29vw) max(1.72222rem, 6vw);
    grid-template-rows: max(2.83333rem, 9vw) max(8.55556rem, 17vw) max(2.55556rem, 6.8vw); }
  .illustration--hero > .illustration__background {
    grid-column: 2/4;
    grid-row: 2/3; }
  .illustration--hero > .illustration__img {
    grid-column: 1/3;
    grid-row: 1/2; }
  .illustration--selection {
    grid-template-columns: max(1.72222rem, 12vw) max(15.27778rem, 32vw) auto;
    grid-template-rows: max(1.88889rem, 5.5vw) max(9.16667rem, 18vw) max(1.83333rem, 5.9vw); }
  .illustration--selection > .illustration__background {
    grid-column: 1/3;
    grid-row: 2/3; }
  .illustration--selection > .illustration__img {
    grid-column: 2/4;
    grid-row: 1/2; }

.question {
  display: grid;
  grid-template-columns: auto 1rem; }
  .question__topic {
    grid-row: 1/2;
    grid-column: 1/2; }
  .question__toggle {
    grid-row: 1/2;
    grid-column: 2/3; }

.nav__toggle {
  height: 1.38889rem;
  padding: 0.33333rem 0; }

@media (min-width: 675px) {
  .nav__toggle {
    display: none; } }

.nav__close, .nav__open {
  width: 1rem;
  height: 0.77778rem; }

.nav__close {
  display: none; }

.nav--top > .nav__links {
  display: none; }

@media (min-width: 675px) {
  .nav--top > .nav__links {
    display: flex;
    gap: 2.55556rem; } }

header {
  margin: 2.27778rem max(1.72222rem, 6vw); }

.bookmark-logo {
  align-self: center; }

.hero {
  margin-top: max(4.72222rem, 3.5vh); }

@media (min-width: 713px) {
  .hero {
    margin-left: max(1.72222rem, 6vw); } }

.features {
  margin-top: max(8.66667rem, 7vw); }

.selection__btn {
  display: none; }

@media (min-width: 741px) {
  .selection__btn {
    display: inline; } }

.tabs {
  margin: max(2.22222rem, 5.5vw) auto 4rem auto;
  width: max(17.33333rem, 50.5vw); }

.tab {
  padding-top: 1.11111rem;
  font-size: 1rem;
  color: #9194a1;
  min-width: 13.36111rem; }
  .tab__border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max(7.88889rem, 16.7vw);
    height: 1.11111rem; }
  .tab--selected {
    color: black; }
    .tab--selected > .tab__border {
      border-bottom-style: solid;
      border-bottom-color: #fa5757; }

.download {
  margin: 8.5rem 1.61111rem; }

.browsers {
  margin-top: max(2.5rem, 4.4vh); }

.browser {
  width: 15.44444rem;
  height: 19.88889rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px -4px; }
  .browser__img {
    margin-top: 1.72222rem;
    margin-bottom: 1.72222rem; }
  .browser__line-break {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0; }
  .browser__btn {
    margin-top: 1.38889rem;
    margin-bottom: 1.38889rem; }

@media (min-width: 646px) {
  .browser:nth-child(2) {
    margin-top: 2.77778rem; } }

@media (min-width: 956px) {
  .browser:nth-child(3) {
    margin-top: 5.55556rem; } }

.questions {
  margin-left: auto;
  margin-right: auto;
  width: max(17.27778rem, 37.63vw); }
  .questions__line-break:nth-child(3) {
    display: none; }
  .questions__btn {
    display: block;
    margin-top: max(2.55556rem, 3.75vw);
    margin-left: auto;
    margin-right: auto; }

@media (min-width: 1096px) {
  .questions__line-break:nth-child(3) {
    display: block; } }

.CTA {
  padding-top: 4.05556rem;
  padding-bottom: 3.33333rem;
  margin-top: max(6.77778rem, 10.3vw);
  background-color: #5368df;
  color: white; }
  .CTA__input {
    width: 16.66667rem; }
  .CTA__btn {
    width: 18.88889rem; }

@media (min-width: 500px) {
  .CTA__btn {
    width: unset; } }
