@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  font-size: 18px;
  font-family: "Rubik", sans-serif; }

body {
  margin: 0 auto; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent; }

ul {
  list-style: none;
  padding: unset; }

a {
  text-decoration: none; }
  a:hover {
    color: #fa5757; }

h1, h2, h6 {
  font-weight: 500; }

h4 {
  font-weight: 400; }

h6 {
  letter-spacing: 0.22222rem; }

p {
  color: #9194a1;
  line-height: 1.55556rem; }

input {
  border: none;
  border-radius: 0.55556rem;
  padding: 1rem; }

::placeholder {
  color: #9194a1;
  font-size: 0.88889rem; }

.illustration__background {
  height: 11.16667rem;
  width: 100%;
  background-color: #5368df; }

.illustration--hero > .illustration__background {
  border-top-left-radius: 22.22222rem;
  border-bottom-left-radius: 22.22222rem;
  margin-left: auto; }

.illustration--hero > .illustration__img {
  aspect-ratio: 657/466;
  width: 18.88889rem;
  margin-left: -1rem; }

.illustration--selection > .illustration__background {
  border-top-right-radius: 22.22222rem;
  border-bottom-right-radius: 22.22222rem; }

.illustration--selection > .illustration__img {
  aspect-ratio: 379/245;
  width: 17.22222rem; }

.hero {
  display: flex;
  flex: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end; }

.illustration {
  display: grid; }
  .illustration--hero {
    grid-template-columns: 2.94444rem 13.88889rem 1.72222rem;
    grid-template-rows: 2.83333rem 8.55556rem 2.55556rem; }
  .illustration--hero > .illustration__background {
    grid-column: 2/4;
    grid-row: 2/3; }
  .illustration--hero > .illustration__img {
    grid-column: 1/3;
    grid-row: 1/2; }
  .illustration--selection {
    grid-template-columns: 1.72222rem 15.27778rem 1.94444rem;
    grid-template-rows: 1.88889rem 9.16667rem 2rem; }
  .illustration--selection > .illustration__background {
    grid-column: 1/3;
    grid-row: 2/3; }
  .illustration--selection > .illustration__img {
    grid-column: 2/4;
    grid-row: 1/2; }
