$border-radius: rem(400px);

.illustration {
  &__background {
    height: #{"max(#{rem(201px)}, 23.75vw)"};
    width: #{"max(#{rem(330px)}, 42.75vw)"};

    background-color: map-get($map: $colors-primary, $key: "soft blue");
  }

  &--hero {
    margin-left: auto;
  }

  &--hero > &__background {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    margin-left: auto;
  }
  &--hero > &__img {
    aspect-ratio: 580/386;
    width: #{"max(#{rem(310px)}, 40vw)"};
    margin-left: auto;
  }

  &--selection {
    margin-right: auto;
  }

  &--selection > &__background {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  &--selection > &__img {
    &--bookmark {
      width: #{"max(#{rem(310px)}, 37vw)"};
      aspect-ratio: 379/245;
    }
    &--search {
      width: #{"max(#{rem(250px)}, 32.91vw)"};
      margin-left: 3rem;
      margin-top: -2rem;
      aspect-ratio: 478/416;
    }
    &--sharing {
      width: #{"max(#{rem(250px)}, 32.91vw)"};
      margin-left: 3rem;
      margin-top: -2rem;
      aspect-ratio: 420/380;
    }
  }
}
