$border-radius: rem(400px);

.illustration {
  &__background {

    height: rem(201px);
    width: 13rem;

    background-color: map-get($map: $colors-primary, $key: "soft blue");
  }
  &--hero{
    // margin-left: auto;

  }
  &--hero > &__background {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    margin-left: auto;

  }

  &--selection > &__background {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  &__img {
    width: rem(307px);
  }
  &--hero > &__img {
    aspect-ratio: 657/466;
  }
  &--selection > &__img {
    aspect-ratio: 379/245;
  }
}
