.line-break {
  &--dotted {
    background-image: linear-gradient(
      to right,
      hsl(229, 8%, 60%) 10%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 20px 2px;
    background-repeat: repeat-x;

    padding: 2px;
  }
}

.tabs {
  &__line-break {
    width: 100%;
    margin: 0;
  }
  @media (min-width: 953px) {
    &__line-break:not(.line-break--tab-end) {
      display: none;
    }
  }
}
