.hero {
  &__info {
    width: #{"max(20rem, 33vw)"};
    & > * {
      text-align: center;
    }
    @media (min-width: 762px) {
      & > * {
        text-align: left;
      }
    }
  }
  &__paragraph {
    width: #{"max(16rem, 33vw)"};
    margin: 0 auto 2rem auto;
  }
  @media (min-width: 762px) {
    &__paragraph {
      margin-left: unset;
    }
  }
  @media (min-width: 761px) {
    &__heading {
      font-size: 2rem;
    }
  }
}

.features {
  &__heading,
  &__paragraph {
    width: #{"max(17rem, 32vw)"};

    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.selection {
  &__info {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: #{"max(18rem, 26vw)"};
    & > * {
      text-align: center;
    }
    @media (min-width: 741px) {
      & > * {
        text-align: left;
      }
    }
  }
  @media (min-width: 950px) {
    &__info {
      margin-left: unset;
      margin-right: #{"max(#{rem(124px)}, 15vw)"};
    }
  }
}

.download {
  &__heading,
  &__paragraph {
    text-align: center;
  }
  &__paragraph{
    max-width: rem(500px);
    margin-left: auto;
    margin-right: auto;
  }
}

.browser {
  &__heading,
  &__paragraph {
    margin: 0;
  }
  &__paragraph{
    margin-top: .5rem;
  }
}
