.hero {
  &__info {
    width: #{"max(20rem, 33vw)"};
    & > * {
      text-align: center;
    }
    @media (min-width: 762px) {
      & > * {
        text-align: left;
      }
    }
  }
  &__paragraph {
    width: #{"max(16rem, 33vw)"};
    margin: 0 auto 2rem auto;
  }
  @media (min-width: 762px) {
    &__paragraph {
      margin-left: unset;
    }
  }
  @media (min-width: 761px) {
    &__heading {
      font-size: 2rem;
    }
  }
}

.features {
  &__heading,
  &__paragraph {
    width: #{"max(17rem, 32vw)"};

    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.selection {
  &__info {
    margin-top: 3rem;
    width: #{"max(18rem, 26vw)"};
    & > * {
      text-align: center;
    }
    @media (min-width: 950px) {
      & > * {
        text-align: left;
      }
    }
  }
}
