header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  &__link {
    display: flex;
    align-items: center;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  &__btns {
    display: flex;
    gap: 1rem;
  }
}

.selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.browsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.browser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
