header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: rem(41px) #{"max(#{rem(31px)}, 6vw)"} rem(41px)  #{"max(#{rem(31px)}, 12vw)"};
}

.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.nav{
    &--top > &__links{
        display: none;
    }
}