.bottom {
  padding-top: rem(41px);
  padding-bottom: rem(41px);
  background-color: map-get($map: $colors-secondary, $key: "very dark blue");
  color: white;
}


@media (min-width: 720px) {
    .bottom {
     padding-left: #{"max(#{rem(31px)}, 11.3vw)"};
     padding-right: #{"max(#{rem(31px)}, 11.3vw)"};
    }
  }
  

.nav {
  &--bottom {
    margin-top: rem(41px);
    margin-bottom: rem(41px);
  }
}


