.CTA {
  padding-top: rem(73px);
  padding-bottom: rem(60px);

  margin-top: #{"max(#{rem(122px)}, 10.3vw)"};

  background-color: map-get($map: $colors-primary, $key: "soft blue");
  color: white;

  &__input {
    width: rem(300px);
    &---error {
      background-image: url(../images/icon-error.svg);
    border: solid;
    border-color: map-get($map: $colors-primary, $key: "soft red");
    }
  }
  &__error {
    width: rem(340px);
    background-color: map-get($map: $colors-primary, $key: "soft red");
    // display: none;
    margin-top: -1rem;
  }
  &__btn {
    width: rem(340px);
  }
}

@media (min-width: 500px) {
  .CTA {
    &__btn {
      width: unset;
    }
  }
}
