.download {
  margin: rem(153px) rem(29px);
}

.browser {
  width: rem(278px);
  height: rem(358px);
  border: solid;
  border-radius: 1rem;

  &__img {
    margin-top: rem(31px);
    margin-bottom: 31px;
  }
  &__btn {
    margin-top: rem(25px);
    margin-bottom: rem(25px);
  }
}
