.features {
  margin-top: #{"max(#{rem(156px)}, 7vw)"};
}

.tabs {
  margin: #{"max(#{rem(40px)}, 5.5vw)"} auto rem(72px) auto;
}

.tab {
  padding-top: rem(20px);
  font-size: 1rem;
  color: map-get($map: $colors-secondary, $key: "grayish blue");
  min-width: rem(240.5px);
  &__border {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: #{"max(#{rem(142px)}, 16.7vw)"};
    height: rem(20px);
  }
  &--selected {
    color: black;
    & > .tab__border {
      border-bottom-style: solid;
      border-bottom-color: map-get($map: $colors-primary, $key: "soft red");
    }
  }
}
